.split {
    padding : 10 10 10 10;
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    border: solid 8px rgb(25, 199, 199);
   
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color: black;
  }
  
  /* Control the right side */
  .right {
    display:flex ;
    justify-content: center;
    /* margin-right: 2em; */
    right: 0;
    background-color: black;
    color: #FFF
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 10 10;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .centeredButton {
    position: absolute;
    top: 80%;
    left: 50%;
    margin: 10 10;
    transform: translate(-50%, -45%);
    text-align: center;
  }
  .centeredButton {
    position: absolute;
    top: 70%;
    left: 50%;
    margin: 10 10;
    transform: translate(-50%, -45%);
    text-align: center;
  }
  .centeredI{
    
      position: absolute;
      top: 60%;
      left: 50%;
      margin: 10 10;
      transform: translate(-50%, -45%);
      text-align: center;
      height: 2em;
    
  }
  .centered2{
    
      position: absolute;
      top: 50%;
      left: 70%;
      margin: 10 10;
      transform: translate(-50%, -45%);
      text-align: center;
      
  
  }
  .centeredImg{
    margin-top: 20vh;
    position: absolute;
      bottom: 10%;
      left: 50%;
      /* margin: 10 10; */
      transform: translate(-50%, -50%);
      text-align: center;

  }
  
  /* Style the image inside the centered container, if needed */
  .centered img {
    width: 150px;
    border-radius: 50%;
  }
  #overlay1 {
    /* background-image: url("https://www.bing.com/th?id=OSK.HERO_5pA1UD5woifCs5BQrRR_mZULDvDIyqmHBXIp9eZbS4&w=472&h=280&c=1&rs=2&o=6&dpr=1.3&pid=SANGAM"); */
    /* margin: auto; */
    /* filter : blur(100); */
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    height: 500px;
    width: 500px;
    background-color: #000;
    color: #FFF;
    z-index:5;
    /* border: 10px solid white; */
    box-shadow:
    0 0 50px 10px #fff,  /* inner white */
    0 0 50px 10px rgb(25, 199, 199), /* middle magenta */
    0 0 50px 10px rgb(25, 199, 199); /* outer cyan */

    }

.pass{  
  position: fixed;
    background-color: rgb(255, 255, 255);
        display: flex; 
        /* flex-direction: column; */
        background-color: #000000;
        /* color:rgb(25, 199, 199); */
        font-weight: bold;
        font-size: 18pt;
        /* text-align: center; */
        /* border-radius: 50%; */
        /* height: 50px; */
        /* border : 2px solid rgb(25, 199, 199); */
        /* vertical-align: middle */
    }
  
.password{
    display: block;
  }

  #button{
    background-color: aqua;
    color: aqua;
  }


  #quit{
    display: none;
  }






   